@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@400,500,600,700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body{
  display: grid;
  height: 100%;
  place-items: center;
  background: linear-gradient(375deg, #BDA6CE, #FE9EC7);
}

.wrapper{
  height: 400px;
  width: 320px;
  position: relative;
}

.wrapper .card{
  height: 100%;
  width: 100%;
  position: absolute;
  background: #fff;
}

.wrapper .card img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.wrapper .back-face{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.wrapper .back-face img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.wrapper .back-face .info{
  text-align: center;
}

.back-face .info .title{
  font-size: 30px;
  font-weight: 500;
}

.back-face ul{
  display: flex;
}

.back-face ul a{
  display: block;
  height: 40px;
  width: 40px;
  background: linear-gradient(375deg, #BDA6CE, #FE9EC7);
  text-align: center;
  border: 2px solid transparent;
  line-height: 38px;
  margin: 0 5px;
  border-radius: 50%;
  color: #fff;
}